.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}

.id {
    font-weight: bold;
    color: #555;
    margin-right: 10px;
}

.item {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
}

.item span {
    font-weight: bold;
    color: #000;
}

.loading-message {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}
.btn-back {
    background-color: #007bff;
    text-align: center;
    padding: 5px;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.btn-back:hover {
    opacity: 0.9;
}