.navbar-container {
    display: flex;
    border-bottom: black;
    background-color: gray;
}
.logo-container {
    margin: 15px;
    border-radius: 100px;
}
.header {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin-left: 200px;
}
.hero-container {
    background-color:antiquewhite ;
}
.hero-header {
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.makanan-container {
    display: flex;
}
.makanan {
    margin: 40px;
}
/* .list-container {
    display: flex;
    gap: 100px;
    margin-top: 120px;
    margin-left: 120px;
}
.navbar-text {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    border-radius: 20px;
    height: 60px;
    width: 200px;
    padding-left: 17px;
} */